[user]
	name = <NAME>
    email = <EMAIL>
[alias]
    refl = reflog --date=relative
    br = symbolic-ref --short HEAD
    bvr = branch -vr --sort=-committerdate
    ff = merge --ff-only
    logbr = log origin/master..
    lg = log --graph --branches --tags --remotes --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
#[rebase]
#    autosquash = true
#[pull]
#    rebase = true
[diff]
    colorMoved = dimmed_zebra
